
@{
    ViewBag.Title = "customerview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MB_WEB.Models.MCusDetails>

<table class="table table-bordered table-striped">
    <tr>
        <td>CUSTOMERID </td>
        <td>CUSTOMERNAME </td>
        <td>COMPANY_NAME </td>
        <td>FATHERS_NAME </td>
        <td>MOTHERS_NAME </td>
        <td>PADDR_ADDRESS </td>
        <td>PADDR_DISTRICT </td>
        <td>PADDR_STATE </td>
        <td>PADDR_COUNTRY</td>
        <td>PADDR_PIN_CODE </td>
        <td>SADDR_ADDRESS </td>
        <td>SADDR_DISTRICT </td>
        <td>SADDR_STATE</td>
        <td>SADDR_COUNTRY </td>
        <td>SADDR_PIN_CODE </td>
        <td>GST_NO</td>
        <td>SALES_TAX_NO</td>
        <td>CENTRAL_TAX_NO</td>
        <td>MOBLIE_NO</td>
        <td>ALTERNATE_NO</td>
        <td>EMAIL_ID</td>
        <td>REMARKS</td>
        <td>CREATED_DATE</td>
        <td>UPDATED_DATE</td>
        <td>PHOTO</td>
        <td>AMOUNT</td>
        <td>Description</td>
        <td>IS_INSPECTION</td>
        <td>STATE</td>
        <td>DISTRICT</td>
        <td>CUSTOMER_TYPE</td>
        <td>PADDR_STREET</td>
        <td>SADDR_STREET</td>
        <td>CUSTOMER_GUID</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.CUSTOMER_ID</td>
            <td> @item.NAME</td>
            <td> @item.COMPANY_NAME </td>
            <td> @item.FATHERS_NAME</td>
            <td> @item.MOTHERS_NAME</td>
            <td> @item.PADDR_ADDRESS</td>
            <td> @item.PADDR_DISTRICT</td>
            <td> @item.PADDR_STATE</td>
            <td> @item.PADDR_COUNTRY</td>
            <td> @item.PADDR_PIN_CODE</td>
            <td> @item.SADDR_ADDRESS</td>
            <td> @item.SADDR_DISTRICT</td>
            <td> @item.SADDR_STATE</td>
            <td> @item.SADDR_COUNTRY</td>
            <td> @item.SADDR_PIN_CODE</td>
            <td> @item.GST_NO</td>
            <td> @item.SALES_TAX_NO</td>
            <td> @item.CENTRAL_TAX_NO</td>
            <td> @item.MOBILE_NO</td>
            <td> @item.ALTERNATE_NO</td>
            <td> @item.EMAIL_ID</td>
            <td> @item.REMARKS</td>
            <td> @item.CREATED_DATE</td>
            <td> @item.UPDATED_DATE</td>
            <td> @item.PHOTO</td>
            <td> @item.AMOUNT</td>
            <td> @item.Description</td>
            <td> @item.IS_INSPECTION</td>
            <td> @item.STATE</td>
            <td> @item.DISTRICT</td>
            <td> @item.CUSTOMER_TYPE</td>
            <td> @item.PADDR_STREET</td>
            <td> @item.SADDR_STREET</td>
            <td> @item.CUSTOMER_GUID</td>




        </tr>
    }
</table>






<div class="container-fluid">
    <div class="page-content" style="padding-top:30px;">
        <form action="/WebUser/Create" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="blAK273j3MWP7Mnp-bIPKpyghBVJhgrNAvjWJ_ufPYlsWpkT9BmP-12RiPlYv24r0Y46xGcKwOGF9veNykIOpjrAiuVTFSVSQg2RBtRi_FI1" />            <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
            <div class="page-content-container">
                <div class="page-content-row">
                    <div class="page-content-col">
                        <!-- BEGIN Row -->
                        <div class="row">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <a id="sample_editable_1_new" class="btn sbold green left" href="/WebUser/Index">
                                        Back to Users List

                                    </a>

                                </div>
                                <div id="notifications" class="row no-print">
                                    <table class="row no-print">
                                        <td width="900" align="right" class="row no-print"><a href="#" onclick="window.print()"><button type="button" class="btn btn-warning disabled-link"><i class="fa fa-print"></i> Print</button></td>
                                        <tr>
                                    </table>
                                </div>
                                <div class="tools"> </div>
                                <h1 class="page-title">
                                    User Profile
                                    <small></small>
                                </h1>
                                <!-- END PAGE TITLE-->
                                <!-- END PAGE HEADER-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN PROFILE SIDEBAR -->
                                        <div class="profile-sidebar">
                                            <!-- PORTLET MAIN -->
                                            <div class="portlet light profile-sidebar-portlet ">
                                                <!-- SIDEBAR USERPIC -->
                                                <div class="profile-userpic">
                                                    <img src="../assets/pages/media/profile/priya.jpg" class="img-responsive" alt="">
                                                </div>
                                                <!-- END SIDEBAR USERPIC -->
                                                <!-- SIDEBAR USER TITLE -->

                                                @foreach (var item in Model)
                                                {
                                                    <div class="profile-usertitle">
                                                        <div class="profile-usertitle-name"> @item.NAME</div>

                                                        <div class="profile-usertitle-job">  @item.CUSTOMER_GUID </div>
                                                    </div>
                                                    <!-- END SIDEBAR USER TITLE -->
                                                    <!-- SIDEBAR BUTTONS -->
                                                    <!-- END SIDEBAR BUTTONS -->
                                                    <!-- SIDEBAR MENU -->
                                                }   <!-- END MENU -->
                                            </div>

                                            <!-- END PORTLET MAIN -->
                                            <!-- PORTLET MAIN -->
                                            <!-- END PORTLET MAIN -->
                                        </div>
                                        </div>
                                    </div>
                                        <!-- END BEGIN PROFILE SIDEBAR -->
                                        <!-- BEGIN PROFILE CONTENT -->

                                        
                                            <div class="profile-content">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <!-- BEGIN PORTLET -->
                                                        @foreach (var item in Model)
                                                        {

                                                            <div class="portlet light ">
                                                                <div class="portlet-title">
                                                                    <div class="caption caption-md">
                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                        <span class="caption-subject font-blue-madison bold ">Name</span>
                                                                        <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                        <span class="caption-subject font-black-madison bold ">@item.NAME</span>


                                                                    </div>
                                                                </div>

                                                                <div class="portlet-title">
                                                                    <div class="caption caption-md">
                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                        <span class="caption-subject font-blue-madison bold ">User Address</span>
                                                                        <span class="required">*</span>&nbsp;&nbsp;
                                                                        <span class="caption-subject font-black-madison ">@item.COMPANY_NAME</span>

                                                                    </div>
                                                                </div>
                                                                <div class="portlet-title">
                                                                    <div class="caption caption-md">
                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                        <span class="caption-subject font-blue-madison bold ">User Mobile</span>
                                                                        <span class="required">*</span>&nbsp;&nbsp;
                                                                        <span class="caption-subject font-black-madison ">@item.MOBILE_NO</span>

                                                                    </div>
                                                                </div>
                                                                <div class="portlet-title">
                                                                    <div class="caption caption-md">
                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                        <span class="caption-subject font-blue-madison bold">User Mail Id</span>
                                                                        <span class="required">*</span>&nbsp;&nbsp;
                                                                        <span class="caption-subject font-black-madison ">@item.EMAIL_ID</span>

                                                                    </div>
                                                                </div>
                                                                <div class="portlet-title">
                                                                    <div class="caption caption-md">
                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                        <span class="caption-subject font-blue-madison bold">Fathername</span>
                                                                        <span class="required">*</span>&nbsp;&nbsp;
                                                                        <span class="caption-subject font-black-madison "> @item.MOTHERS_NAME</span>

                                                                    </div>
                                                                </div>

                                                                <div class="portlet light ">
                                                                    <div class="portlet-title">
                                                                        <div class="caption caption-md">
                                                                            <i class="icon-bar-chart theme-font hide"></i>
                                                                            <span class="caption-subject font-blue-madison bold ">Paddress</span>
                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                            <span class="caption-subject font-black-madison bold "> @item.PADDR_ADDRESS</span>


                                                                        </div>
                                                                    </div>
                                                                    <div class="portlet light ">
                                                                        <div class="portlet-title">
                                                                            <div class="caption caption-md">
                                                                                <i class="icon-bar-chart theme-font hide"></i>
                                                                                <span class="caption-subject font-blue-madison bold ">PDistrict</span>
                                                                                <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                <span class="caption-subject font-black-madison bold ">@item.PADDR_DISTRICT</span>


                                                                            </div>
                                                                        </div>
                                                                        <div class="portlet light ">
                                                                            <div class="portlet-title">
                                                                                <div class="caption caption-md">
                                                                                    <i class="icon-bar-chart theme-font hide"></i>
                                                                                    <span class="caption-subject font-blue-madison bold ">PState</span>
                                                                                    <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                    <span class="caption-subject font-black-madison bold ">@item.PADDR_STATE</span>


                                                                                </div>
                                                                            </div>
                                                                            <div class="portlet light ">
                                                                                <div class="portlet-title">
                                                                                    <div class="caption caption-md">
                                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                                        <span class="caption-subject font-blue-madison bold ">PCountry</span>
                                                                                        <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                        <span class="caption-subject font-black-madison bold "> @item.PADDR_COUNTRY</span>


                                                                                    </div>
                                                                                </div>
                                                                                <div class="portlet light ">
                                                                                    <div class="portlet-title">
                                                                                        <div class="caption caption-md">
                                                                                            <i class="icon-bar-chart theme-font hide"></i>
                                                                                            <span class="caption-subject font-blue-madison bold ">Pincode</span>
                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                            <span class="caption-subject font-black-madison bold "> @item.PADDR_PIN_CODE</span>


                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="portlet light ">
                                                                                        <div class="portlet-title">
                                                                                            <div class="caption caption-md">
                                                                                                <i class="icon-bar-chart theme-font hide"></i>
                                                                                                <span class="caption-subject font-blue-madison bold ">SAddress</span>
                                                                                                <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                                <span class="caption-subject font-black-madison bold ">@item.SADDR_ADDRESS</span>


                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="portlet light ">
                                                                                            <div class="portlet-title">
                                                                                                <div class="caption caption-md">
                                                                                                    <i class="icon-bar-chart theme-font hide"></i>
                                                                                                    <span class="caption-subject font-blue-madison bold ">SAddr_District</span>
                                                                                                    <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                                    <span class="caption-subject font-black-madison bold ">@item.SADDR_DISTRICT</span>


                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="portlet light ">
                                                                                                <div class="portlet-title">
                                                                                                    <div class="caption caption-md">
                                                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                                                        <span class="caption-subject font-blue-madison bold ">SADDR_STATE</span>
                                                                                                        <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                                        <span class="caption-subject font-black-madison bold ">@item.SADDR_STATE</span>


                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="portlet light ">
                                                                                                    <div class="portlet-title">
                                                                                                        <div class="caption caption-md">
                                                                                                            <i class="icon-bar-chart theme-font hide"></i>
                                                                                                            <span class="caption-subject font-blue-madison bold ">SADDR_COUNTRY</span>
                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                                            <span class="caption-subject font-black-madison bold ">@item.SADDR_COUNTRY</span>


                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="portlet light ">
                                                                                                        <div class="portlet-title">
                                                                                                            <div class="caption caption-md">
                                                                                                                <i class="icon-bar-chart theme-font hide"></i>
                                                                                                                <span class="caption-subject font-blue-madison bold ">SADDR_PIN_CODE</span>
                                                                                                                <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                                                <span class="caption-subject font-black-madison bold ">@item.SADDR_PIN_CODE</span>


                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="portlet light ">
                                                                                                            <div class="portlet-title">
                                                                                                                <div class="caption caption-md">
                                                                                                                    <i class="icon-bar-chart theme-font hide"></i>
                                                                                                                    <span class="caption-subject font-blue-madison bold ">SALES_TAX_NO</span>
                                                                                                                    <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                                                    <span class="caption-subject font-black-madison bold ">@item.SALES_TAX_NO</span>


                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="portlet light ">
                                                                                                                <div class="portlet-title">
                                                                                                                    <div class="caption caption-md">
                                                                                                                        <i class="icon-bar-chart theme-font hide"></i>
                                                                                                                        <span class="caption-subject font-blue-madison bold ">CENTRAL_TAX_NO</span>
                                                                                                                        <span class="required">*</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                                                                                                                        <span class="caption-subject font-black-madison bold "> @item.CENTRAL_TAX_NO</span>


                                                                                                                    </div>
                                                                                                                </div>
                                                                                  

                                                                                                            </div>
                                                                                                          }
                                                                                                            <!-- END PORTLET -->
                                                                                                        </div>
                                                                                                        <div class="col-md-6">
                                                                                                            <!-- BEGIN PORTLET -->
                                                                                                            @foreach (var item in Model)
                                                                                                            {
                                                                                                                <div class="portlet light ">
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">MOBILE_NO</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">@item.MOBILE_NO</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">ALTERNATE_NO</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">@item.ALTERNATE_NO</span>
                                                                                                                        </div>


                                                                                                                    </div>


                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">EMAIL_ID</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.EMAIL_ID</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">REMARKS</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">@item.REMARKS</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">CREATED_DATE</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">@item.CREATED_DATE</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">UPDATED_DATE</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.UPDATED_DATE</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold "> PHOTO</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.PHOTO</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold "> AMOUNT</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.AMOUNT</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">Description</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">@item.Description</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold "> IS_INSPECTION</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.IS_INSPECTION</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold "> @item.STATE</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.STATE</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">DISTRICT</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">@item.DISTRICT</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold "> CUSTOMER_TYPE</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.CUSTOMER_TYPE</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold "> PADDR_STREET</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.PADDR_STREET</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold "> SADDR_STREET</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison "> @item.SADDR_STREET</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">Pan No</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">CG38966</span>
                                                                                                                        </div>


                                                                                                                    </div>
                                                                                                                    <div class="portlet-title tabbable-line">
                                                                                                                        <div class="caption caption-md">
                                                                                                                            <i class="icon-globe theme-font hide"></i>
                                                                                                                            <span class="caption-subject font-blue-madison bold ">Pan No</span>
                                                                                                                            <span class="required">*</span>&nbsp;&nbsp;&nbsp;
                                                                                                                            <span class="caption-subject font-black-madison ">CG38966</span>
                                                                                                                        </div>


                                                                                                                    </div>


                                                                                                                </div>
                                                                                                            }
                                                                                                            <!-- END PORTLET -->
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- END PROFILE CONTENT -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           