@model IEnumerable<MB_WEB.Models.MCustomerDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <h1>Customer Details</h1>

            <!-- Sidebar Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".page-sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="toggle-icon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <!-- Sidebar Toggle Button -->
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
        <div class="page-content-container">
            <div class="page-content-row">

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">



                                <div class="page-content-container">
                                    <div class="page-content-row">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                <div class="portlet light bordered">
                                                    <div class="portlet-title">
                                                        <div class="caption font-dark">

                                                        </div>
                                                        <div class="tools"> </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                                                            <thead>
                                                                <tr>
                                                                    <th class="all">Customer ID</th>
                                                                    <th class="min-phone-l">Name</th>
                                                                    <th class="min-tablet">CustomerGuId <br>Number</th>
                                                                    <th class="min-tablet">Assigned <br>Inspector <br>Name</th>
                                                                    <th class="min-tablet">Assigned to <br>Inspector</th>
                                                                    <th class="min-tablet">Agent Name</th>
                                                                    <th class="min-tablet">Assigned <br> to agent</th>

                                                                    <th class="min-tablet">Amount</th>

                                                                    <th class="min-tablet">Status</th>
                                                                    <th class="min-tablet">Action</th>
                                                                    <th class="min-tablet">Action</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>



                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>


                                                                        <td>@item.CUSTOMER_ID</td>
                                                                        <td>@item.NAME</td>
                                                                        <td>@item.CUSTOMER_GUID</td>
                                                                        <td>
                                                                            <a href="@Url.Action("Index", "Inspection", new {  CUSTOMER_ID= item.CUSTOMER_ID})">Assign To Inspector</a>
                                                                            <span class="label label-sm label-primary"> verified</span>
                                                                        </td>

                                                                        <td>@item.AMOUNT</td>
                                                                        <td> <a href="@Url.Action("AmountAssign", "CustomerAssign", new {  CUSTOMER_ID= item.CUSTOMER_ID})">Assign To Agent</a></td>
                                                                        <td><a href="@Url.Action("Create", "InsurenceDetails", new {  CUSTOMER_ID= item.CUSTOMER_ID})">Add Insurence</a></td>
                                                                      
                                                                       </tr>
                                                                        }


                                                                        @*<td>
                    <span class="label label-sm label-primary"> verified</span>
                </td>

                <td>
                    <span class="label label-sm label-danger"> not verified</span>
                </td>

                <td><span class="label label-sm label-danger"> not verified</span></td>
                <td>
                    <a href="view_profile.html" style="color:#ff9900;">
                        <i class="fa fa-clone" aria-hidden="true" onclick="ed()"></i> View
                    </a>
                </td>*@
                                                                </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END EXAMPLE TABLE PORTLET-->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END SIDEBAR CONTENT LAYOUT -->
                    </div>
                    <!-- BEGIN FOOTER -->
                    <p class="copyright" style="margin-left: 15px;">
                        <a title="" style="color:black;"><a target="_blank" href="http://deoapps.com">Designed and Developed by Deoapps.co.in</a>
                    </p>
                    <a href="#index" class="go2top">
                        <i class="icon-arrow-up"></i>
                    </a>
                    <!-- END FOOTER -->
                </div>

                <!-- END CONTAINER -->
                <!-- BEGIN QUICK NAV -->

                <div class="quick-nav-overlay"></div>
                <!-- END QUICK NAV -->
                <!--[if lt IE 9]>
                <script src="../assets/global/plugins/respond.min.js"></script>
                <script src="../assets/global/plugins/excanvas.min.js"></script>
                <script src="../assets/global/plugins/ie8.fix.min.js"></script>
                <![endif]-->
                <!-- BEGIN CORE PLUGINS -->
                <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
                <!-- END CORE PLUGINS -->
                <!-- BEGIN PAGE LEVEL PLUGINS -->
                <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
                <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
                <!-- END PAGE LEVEL PLUGINS -->
                <!-- BEGIN THEME GLOBAL SCRIPTS -->
                <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
                <!-- END THEME GLOBAL SCRIPTS -->
                <!-- BEGIN PAGE LEVEL SCRIPTS -->
                <script src="../assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>
                <!-- END PAGE LEVEL SCRIPTS -->
                <!-- BEGIN THEME LAYOUT SCRIPTS -->
                <script src="../assets/layouts/layout5/scripts/layout.min.js" type="text/javascript"></script>
                <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
                <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
                <!-- END THEME LAYOUT SCRIPTS -->
                <script>
                    $(document).ready(function () {
                        $('#clickmewow').click(function () {
                            $('#radio1003').attr('checked', 'checked');
                        });
                    })
                </script>
            </div>
        </div>
    </div>
</div>































