@model IEnumerable<MB_WEB.Models.User>

@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <h1>User List</h1>
            <!-- Sidebar Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".page-sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="toggle-icon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <!-- Sidebar Toggle Button -->
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
        <div class="page-content-container">
            <div class="page-content-row">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <a id="sample_editable_1_new" class="btn sbold green" onclick="nav()" href="@Url.Action("Create", "WebUser")">
                                        Add New
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">
                                <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th class="all">User ID</th>
                                            <th class="min-phone-l">Name</th>
                                            <th class="min-tablet">Usertype</th>
                                            <th class="min-tablet">Mobile<br> Number</th>
                                            <th class="min-tablet">Mail ID</th>
                                            <th class="min-tablet">Created <br>Date</th>
                                            <th class="min-tablet">Updated<br> Date</th>
                                            <th class="desktop">Status</th>
                                            <th class="all">Active /<br> Inactive</th>
                                            <th class="all">Action</th>
                                            <th class="all">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.UserID</td>
                                                <td>@item.NAME</td>
                                                <td>@item.USER_TYPE_NAME</td>
                                                <td>@item.USER_MOBILENO</td>
                                                <td>@item.USER_MAIL_ID</td>
                                                <td>@item.CREATED_DATE</td>
                                                <td>@item.UPDATED_DATE</td>
                                                @if (item.IS_ACTIVE == "N")
                                                {
                                                    <td><span class="label label-sm label-danger"> Blocked </span></td>
                                                }
                                                else

                                                {
                                                    <td><span class="label label-sm label-success"> Active </span></td>
                                                }
                                                <td>
                                                    <div class="btn-group pull-right">
                                                        <button class="btn green btn-xs btn-outline dropdown-toggle" data-toggle="dropdown">
                                                            Select
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li>
                                                                <a href="@Url.Action("Delete", "WebUser", new { USER_ID = item.UserID, Status = "Y" })" style="color:green;">
                                                                    <i class="fa fa-check" style="color:green;"></i> Active
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="@Url.Action("Delete", "WebUser", new { USER_ID = item.UserID, Status = "N" })" style="color:red;">
                                                                    <i class="fa fa-times" style="color:red;"></i> IN Active
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" style="color:#20b4c1;">

                                                        <a href="@Url.Action("Edit", "WebUser", new { USER_ID = item.UserID })">Edit</a>
                                                    </a>

                                                    <a href="#" style="color:red;">
                                                        <i class="fas fa-calendar-minus-o"></i>Delete
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="view_profile.html" style="color:#ff9900;">

                                                        <a href="@Url.Action("ViewMore", "WebUser", new { USER_ID = item.UserID })">ViewMore</a>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>