@model IEnumerable<MB_WEB.Models.MInspectionDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="page-content">
        <!-- BEGIN BREADCRUMBS -->
        <div class="breadcrumbs">
            <h1>InspectionDetails</h1>

            <!-- Sidebar Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".page-sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="toggle-icon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <!-- Sidebar Toggle Button -->
        </div>
        <!-- END BREADCRUMBS -->
        <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
        <div class="page-content-container">
            <div class="page-content-row">

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="row">




                                    <div class="tools">  </div>
                                </div>

                                <div class="page-content-container">
                                    <div class="page-content-row">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                <div class="portlet light bordered">
                                                    <div class="portlet-title">

                                                        <div class="tools">  </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                                                            <thead>
                                                                <tr>
                                                                    <th class="all">InspectionGUID</th>
                                                                    <th class="min-phone-l">InspectorName</th>
                                                                    <th class="min-tablet">InspectorMobileNumber</th>
                                                                    <th class="min-tablet">InspectorMailID</th>
                                                                    <th class="min-tablet">Inspection Id</th>
                                                                    <th class="min-tablet">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    @foreach (var item in Model)
                                                                    {
                                                                    <tr>

                                                                        <td>@item.USER_GUID</td>
                                                                        <td>@item.NAME</td>
                                                                        <td>@item.USER_MOBILENO </td>
                                                                        <td>@item.USER_MAIL_ID</td>
                                                                        <td> @item.USER_ID</td>



                                                                        <td>
                                                                            <a href="@Url.Action("InspectorView", "InspectionDetails", new { USER_ID = item.USER_ID })">view</a>
                                                                        </td>

                                                                    </tr>
                                                                }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!-- END EXAMPLE TABLE PORTLET-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

